pkgbase = google-chrome
	pkgdesc = An attempt at creating a safer, faster, and more stable browser (Stable Channel)
	pkgver = 40.0.2214.94
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = i686
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = desktop-file-utils
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hicolor-icon-theme
	depends = icu
	depends = libpng
	depends = libxss
	depends = libxtst
	depends = nss
	depends = opus
	depends = snappy
	depends = speech-dispatcher
	depends = ttf-font
	depends = xdg-utils
	optdepends = kdebase-kdialog: needed for file dialogs in KDE
	optdepends = ttf-google-fonts-git
	provides = google-chrome=40.0.2214.94
	noextract = google-chrome-stable_40.0.2214.94_i386.deb
	noextract = google-chrome-stable_40.0.2214.94_amd64.deb
	options = !emptydirs
	options = !strip
	source = google-chrome-stable_40.0.2214.94_i386.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_40.0.2214.94-1_i386.deb
	source = google-chrome-stable_40.0.2214.94_amd64.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_40.0.2214.94-1_amd64.deb
	source = http://www.google.com/chrome/intl/en/eula_text.html
	sha256sums = eb9101935f631a4fae8e991b7f33f04b440dfbbbd260948e3be649a3205ec311
	sha256sums = 87d3791a38d3e1cd91726432e4d47551ba422e3b4933c36ed494b5e1c7fd51d2
	sha256sums = 4242ecd421c56d47e56f6384be5621fe4e7b772c11036a72145d0e580a0f464c

pkgname = google-chrome

