pkgbase = google-chrome
	pkgdesc = An attempt at creating a safer, faster, and more stable browser (Stable Channel)
	pkgver = 44.0.2403.107
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = i686
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = desktop-file-utils
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hicolor-icon-theme
	depends = icu
	depends = libpng
	depends = libxss
	depends = libxtst
	depends = nss
	depends = opus
	depends = snappy
	depends = speech-dispatcher
	depends = ttf-font
	depends = xdg-utils
	optdepends = kdebase-kdialog: needed for file dialogs in KDE
	optdepends = ttf-google-fonts-git
	provides = google-chrome=44.0.2403.107
	noextract = google-chrome-stable_44.0.2403.107_i386.deb
	noextract = google-chrome-stable_44.0.2403.107_amd64.deb
	options = !emptydirs
	options = !strip
	source = google-chrome-stable_44.0.2403.107_i386.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_44.0.2403.107-1_i386.deb
	source = google-chrome-stable_44.0.2403.107_amd64.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_44.0.2403.107-1_amd64.deb
	source = http://www.google.com/chrome/intl/en/eula_text.html
	sha256sums = 763bffe1631b1d43eb8025be54a67e59a4bb693a503c573e350536b1de2b9274
	sha256sums = 322789d36f4d2a81af082aca6c16ece693a98820c34fcc626d248c35d049155a
	sha256sums = 4242ecd421c56d47e56f6384be5621fe4e7b772c11036a72145d0e580a0f464c

pkgname = google-chrome

